@layer base {
  /* stylelint-disable a11y/media-prefers-reduced-motion */
  a {
    color: var(--c-pink);
    transition: color 300ms;
  }

  a:hover, a:focus {
    color: var(--c-purple);
    transition: color 300ms;
  }
}
