@layer components {
  .Carousel-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: center;
    justify-content: center;
    margin: auto;
    block-size: 100%;
    inline-size: 70%;
    text-align: center;
  }

  /* stylelint-disable-next-line a11y/media-prefers-reduced-motion */
  .Carousel-img {
    padding: var(--space-3xs);
    border: var(--space-3xs) solid var(--c-pink);
    transition: border-color 500ms;
  }

  /* stylelint-disable-next-line a11y/media-prefers-reduced-motion */
  .Carousel-img:hover, .Carousel-img:focus {
    border-color: var(--c-purple);
    transition: border-color 500ms;
  }

  .Carousel-controls {
    --Carousel-controls-translateY: -100%;

    font-size: var(--t-step-2);
    cursor: pointer;
    background: none;
    border: none;
    translate: 0 var(--Carousel-controls-translateY);
  }

  .Carousel-controls--left {
    order: -100;
  }

  .Carousel-controls--right {
    order: 100;
  }

  @media (prefers-reduced-motion: reduce) {
    .Carousel-controls {
      transition: color 300ms;
    }

    .Carousel-controls:hover, .Carousel-controls:focus {
      color: var(--c-purple);
      transition: color 300ms;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .Carousel-controls {
      transition: translate 300ms, padding-inline-end 300ms;
    }

    .Carousel-controls--left:hover, .Carousel-controls--left:focus {
      padding-inline-end: 0.25rem;
      transition: translate 300ms, padding-inline-end 300ms;
      translate: -0.25rem var(--Carousel-controls-translateY);
    }

    .Carousel-controls--right:hover, .Carousel-controls--right:focus {
      padding-inline-start: 0.25rem;
      transition: translate 300ms, padding-inline-end 300ms;
      translate: 0.25rem var(--Carousel-controls-translateY);
    }
  }
}
