<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marley Rae</title>

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=delius-swash-caps:400"
          rel="stylesheet"/>

    <link rel="stylesheet" href="/style.css">
    <script src="/main.js" type="module"></script>
</head>
<body class="Body">

<div class="Site">

    <header class="Header">
        <h1 class="Header-title" id="headerTitle">Marley Rae</h1>
        <div class="Header-email">marleyrae@protonmail.com</div>
    </header>

    <main class="Main">

    </main>

    <footer class="Footer" id="footer">
        &copy; 2023
    </footer>

</div>

</body>
</html>
